build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/my_tools.sln
build/my_tools.vcxproj
build/my_tools.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-03aeae74e2dad5421706.json
build/.cmake/api/v1/reply/cmakeFiles-v1-ab8cfeaa5df924453489.json
build/.cmake/api/v1/reply/codemodel-v2-2dcabe7dbe04e80a08c8.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-02-10T09-16-00-0000.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-1068062b61f92f36e12f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-1068062b61f92f36e12f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-1068062b61f92f36e12f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-1068062b61f92f36e12f.json
build/.cmake/api/v1/reply/target-my_tools-Debug-865060c3de6a95b1225f.json
build/.cmake/api/v1/reply/target-my_tools-MinSizeRel-c7416d5e0b1c75f8533b.json
build/.cmake/api/v1/reply/target-my_tools-Release-cbc83b1e0f088ab3b0a5.json
build/.cmake/api/v1/reply/target-my_tools-RelWithDebInfo-947f6d0a98272c9c0e0e.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-e1175297710b11f309f9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-e1175297710b11f309f9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-e1175297710b11f309f9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-e1175297710b11f309f9.json
build/.cmake/api/v1/reply/toolchains-v1-09b3c78165ee68dcdb3d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.4/CMakeCCompiler.cmake
build/CMakeFiles/3.31.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.4/CMakeSystem.cmake
build/CMakeFiles/3.31.4/VCTargetsPath.txt
build/CMakeFiles/3.31.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.31.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.4/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.4/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/a8b33235c6b43188a54719d2d9537590/generate.stamp.rule
build/Debug/my_tools.lib
build/Debug/my_tools.pdb
build/my_tools.dir/Debug/binary_file.obj
build/my_tools.dir/Debug/bits.obj
build/my_tools.dir/Debug/logger.obj
build/my_tools.dir/Debug/my_tools.Build.CppClean.log
build/my_tools.dir/Debug/my_tools.lib.recipe
build/my_tools.dir/Debug/my_tools.vcxproj.FileListAbsolute.txt
build/my_tools.dir/Debug/myThread.obj
build/my_tools.dir/Debug/timer.obj
build/my_tools.dir/Debug/my_tools.tlog/CL.command.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/Cl.items.tlog
build/my_tools.dir/Debug/my_tools.tlog/CL.read.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/CL.write.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/CustomBuild.command.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/CustomBuild.read.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/CustomBuild.write.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/Lib-link.read.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/Lib-link.write.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/Lib.command.1.tlog
build/my_tools.dir/Debug/my_tools.tlog/my_tools.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
